<f:be.container addCssFile="{f:uri.resource(path:'CSS/General.css')}" addJsFile="{f:uri.resource(path: 'JS/General.js')}" loadExtJs="true">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<div class="step act"><f:translate key="LLL:EXT:mdrmanager/Resources/Private/Language/locallang_contacts.xml:{step}" /></div>
				</div>
				<div class="docheader-row2-right">
					<f:link.action action="index">{f:translate(key: 'LLL:EXT:mdrmanager/Resources/Private/Language/locallang_contacts.xml:contact_list')}</f:link.action>
					|
					<f:link.action action="newContactForm">{f:translate(key: 'LLL:EXT:mdrmanager/Resources/Private/Language/locallang_contacts.xml:add_contact')}</f:link.action>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<f:render section="content" />
		</div>
	</div>
</f:be.container>